@use "sass:list"
@use 'media'

$bebas: ('Bebas Neue Cyrillic', sans-serif)
$mont: ('Montserrat', sans-serif)

// font shorthand mixin
@mixin font( $size, $lh, $family: $mont)
    $weight: 400
    @if $family == $bebas
        text-transform: uppercase
        text-align: center
    @else 
        $weight: 500
    font: normal normal $weight list.slash($size, $lh) $family  

// names
$types: (heading, subHeading, cardHeading, cardName, text, secText, techText, menuText, mobMenuText)

$fonts: ( (36px, 42px, $bebas), (24px, 30px, $bebas), (60px, 60px, $bebas), (90px, 90px, $bebas), (16px, 20px), (14px, 28px), (12px, 28px), (14px, 17px), (10px, 12px) )

// ********
// * loop through the $types list,
// * write interpolation for making class,
// * include font mixin to set class content
// ********
$length: length($types)
@for $i from 1 to $length
    $current: nth($types, $i)
    #{'%'}#{$current}
        @include font(nth($fonts, $i)... )
        @if (str-index(to-lower-case(#{$current}), 'menu'))
            text-transform: uppercase
            letter-spacing: 0.2em
        @if ( $current == 'menuText' and ( $i != $length ) )
            @include media.media-max(media.$md)
                @include font(nth($fonts, $length)... )
        @if ( $current == 'heading' and ( $i != $length ))
            @include media-max($sm)
                @include font(nth($fonts, 2)... )