@import 'vars'
@import 'colors'
@import 'media'
@import 'typography'
@import 'buttons'

// typography classes
// ********
// * loop through the $types list,
// * write interpolation for making class,
// * include font mixin to set class content
// ********
$length: $length
$types: $types
$fonts: $fonts

@for $i from 1 to $length
    .#{nth($types, $i)}
        @include font(nth($fonts, $i)... )
        @if (str-index(to-lower-case(#{nth($types, $i)}), 'menu'))
            text-transform: uppercase
            letter-spacing: 0.2em
        @if (nth($types, $i)== 'menuText' and ($i != $length))
            @include media-max($md)
                @include font(nth($fonts, $length)... )
        @if (nth($types, $i) == 'subHeading')
            @include media-max($md)
                @include font(nth($fonts, 2)... )
// end typography classes

*, ::before, ::after
    box-sizing: border-box
    padding: 0
    margin: 0
    position: relative

body
    min-width: 300px
    max-width: 1920px
    margin: 0 auto
    color: $textWhite
    @extend %text
.container
    min-width: 290px
    max-width: 1296px
    width: 100%
    margin: 0 auto
    @include media-min($xs)
        padding: 0 15px
    @include media-min($sm)
        padding: 0 40px
    @include media-min($md)
        padding: 0 12px
    @include media-min($lg)
        padding: 0

.sr-only
    border: 0
    clip: rect(0 0 0 0)
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px)
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px)
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    width: 1px
    white-space: nowrap
    font-size: 0

.blue
    color: $accentText
.black
    color: $textBlack
.with-wave
    position: relative
    &::before
        content: url(../images/icons/wave.svg)
        display: block
        margin: 0 auto 20px
        padding-top: 40px
.tac
    text-align: center
.wavy-bg
    background: $mobBg url(../images/bg/wavy.jpg) top center / cover no-repeat
    @include media-max($sm)
        background: $mobBg url(../images/bg/wavy-mob.jpg) top center / cover no-repeat

a
    text-decoration: none
    color: $accentText
ul
    list-style: none
section
    overflow: hidden

/* cols */

.cols
    @extend %flex
    color: $textBlack
    @include media-max($md)
        display: block
    p:not(:last-child)
        margin: 12px 0
    &__title
        @include font(24px, 28px, $bebas)
        color: $textBlack
        text-align: left
        margin-bottom: 35px
        @include media-max($sm)
            margin-bottom: 20px
    .col-half
        @include media-min($lg)
            width: calc(50% - 98px/2)

            &:first-of-type
                padding-left: 29px
                margin-right: 98px
        @include media-min($md)
            width: calc(50% - 65px/2)
            &:first-of-type
                padding-left: 0
                margin-right: 65px
        @include media-max($md)
            width: 100%
            &:first-of-type
                margin-right: 0
                max-width: 435px
                margin: 0 auto 60px
                @include media-max($xs)
                    margin-bottom: 50px
    .img-wr
        @extend %rounded
        width: 570px
        box-shadow: $shadow
        font-size: 0
        line-height: 0
        margin-left: auto
        @include media-max($lg)
            width: 100%
        img
            @extend  %rounded
            width: 100%
            height: auto
    .cont-wr:not(:last-of-type)
        margin-bottom: 70px
        @include media-max($sm)
            margin-bottom: 50px

/* cols */

.header
    @extend %flex
    @extend %justify-between
    align-items: center
    height: 100px
    .logo-menu-wr
        @extend %flex
        align-items: center
        margin-right: 54px
    &__logo
        display: block
        @extend %img-holder
        img
            width: 130px
        &--mob 
            display: none

    &__menu
        @extend %flex
        margin: 0 -20px
        li
            margin: 4px 20px
            @extend %menuText
        a
            color: $textBlack
            transition: all 0.3s
            &:hover
                color: $accentText
                
    &__phone
        margin-right: 25px
        white-space: nowrap
        &:focus
            outline: none
    &__social
        @extend %flex
        align-items: center
        margin-left: 6% 
    .svg-icon
        fill: $textBlack

.burger
    @extend %img-holder
    @include media-min($sm)
        display: none
.social
    &__menu
        @extend %img-holder
        @extend %flex
    &__menu-item
        width: 32px
        &:first-child
            margin-right: 16px


@include media-max($lg)
    .header
        .logo-menu-wr
            margin-right: 6%
        &__menu
            flex-wrap: wrap
            width: 356px
        &__social
            margin-left: 7%
        &__phone
            margin-right: 27px
    .social
        &__menu-item
            &:first-child
                margin-right: 26px


@include media-max($md)
    .header
        &__menu
            li
                margin: 6.5px 25px
                &:nth-child(1)
                    order: -3
                &:nth-child(2)
                    order: -1
                &:nth-child(3)
                    order: -2
        &__social
            flex-direction: column-reverse
            align-items: flex-end
        &__phone
            padding: 0
            height: unset
            min-width: unset
            border: 0
            margin: 15px 0 0 0
    .social
        &__menu-item
            width: 22px
            height: 22px
            &:first-child
                margin-right: 11px
@include media-max($sm)
    .header
        &-wr
            background: $mobBg
            position: fixed
            z-index: 2
            width: 100%
        &__logo
            
            &--all
                display: none
            &--mob 
                display: block
        &__menu
            display: none
        &__phone
            color: $textWhite
            margin-top: 8px
            letter-spacing: 0
        .logo-menu-wr, &__social
            width: 50%
            margin: 0
        &__social
            margin-top: 25px
        .logo-menu-wr
            @include justify-between
        .svg-icon
            fill: $textWhite
.swiper
    padding-bottom: 50px 
.swiper-pagination
    line-height: 0
.swiper-pagination-bullet
    width: 14px
    height: 14px
    border: 1px solid $textWhite
    background: none
.swiper-pagination-bullet-active
    background: $textWhite

.swiper-pagination--black .swiper-pagination-bullet
    border: 1px solid $textBlack
.swiper-pagination--black .swiper-pagination-bullet-active
    background: $textBlack
