@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: local('Bebas Neue Cyrillic Regular'), local('Bebas-Neue-Cyrillic-Regular'),
        url('../fonts/BebasNeueCyrillic.woff2') format('woff2'),
        url('../fonts/BebasNeueCyrillic.woff') format('woff'),
        url('../fonts/BebasNeueCyrillic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('../fonts/MontserratMedium.woff2') format('woff2'),
        url('../fonts/MontserratMedium.woff') format('woff'),
        url('../fonts/MontserratMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}